<article class="blog-post">
    <header><h1 class="text-center">Reto de conocimiento</h1></header>
	<div class="container-fluid">
        <div class="col-sm-3">
            <aside>
                <a ng-click="game.drop()" class="nav">Abandonar</a>
            </aside>
        </div>
    <div class="col-lg-6 ">
        <h2>Pregunta {{game.currentQuestion()}}</h2>
        <div class="row">
            <img ng-src="{{game.visual_hint}}" height=250px></img>
        </div>
        <div class="row well">
            {{ game.question.body }}
        </div>
        <div class="row">
            <div class="btn-toolbar center">
                <button type="button" class="btn btn-lg btn-primary" ng-click="game.checkAnswer(hint)" ng-disabled="game.solved" ng-repeat="hint in game.question.hints">{{ hint.text }}</button>
            </div>
        </div>
    </div>
</article>

