<article class="blog-post">
    <header><h1 class="text-center">Puntuaciones</h1></header>
	<div class="container-fluid">
        <div class="col-sm-3">
            <aside>
                <a href="" class="nav">Records</a>
            </aside>
        </div>
    <div class="col-lg-6 ">
        <h2>Estadisticas</h2>
        <div class="row">
        </div>
        <div class="row well">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Juego</th>
                        <th>Puntuación</th>
                    </tr>
                </thead>
            <tbody>
                <tr ng-repeat="player in record.entries">
                    <td>{{player.name}}</td>
                    <td>{{player.game}}</td>
                    <td>{{player.points}}</td>
                </tr> 
            </tbody>
            </table>
        </div>
    </div>
</article>

